@import './../../sass/fonts.scss';
@import './../../sass/colors.scss';

.main-nav {
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background: $color-white;

    .navbar {
        padding: 0;
        
        .navbar-brand {
            img {
                max-width: 150px;
            }
        }
        .navbar-nav {
            flex-wrap: nowrap;
            white-space: nowrap;

            .nav-item {
                white-space: nowrap;
                position: relative;
                
                .nav-link {
                    color: $color-black;
                    font-size: 15px;
                    font-weight: 600;
                    padding: 0;
                    margin: 10px 20px;
                    white-space: nowrap;

                    &:hover {
                        color: $color-blue;
                    }
                }

                .dropdown-menu {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background: $color-white;
                    min-width: 240px;
                    padding: 15px 20px;
                    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
                    border-radius: 12px;
                    z-index: 999;
                    max-height: 360px;
                    overflow-y: auto;

                    .dropdown-item {
                        display: block;
                        color: $color-black;
                        font-size: 14px;
                        padding: 6px 0;

                        &:hover {
                            color: $color-blue;
                        }
                    }
                }

                &.dropdown:hover .dropdown-menu {
                    display: block;
                }
            }
        }
    }
}

// Mobile Responsive
@media (max-width: 575px) {
    .main-nav {
        padding: 10px 0;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

        .navbar {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        margin: 10px 0px;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .main-nav {
        padding: 10px 0;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

        .navbar {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        margin: 10px 0px;
                    }
                }
            }
        }
    }
}

// Medium Devices Responsive
@media (min-width: 768px) and (max-width: 991px) {
    .main-nav {
        padding: 15px 0;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

        .navbar {
            .navbar-nav {
                white-space: nowrap;
                
                .nav-item {
                    white-space: nowrap;
                    
                    .nav-link {
                        margin: 10px 10px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .main-nav {
        padding: 20px 0;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

        .navbar {
            .navbar-nav {
                white-space: nowrap;
                
                .nav-item {
                    white-space: nowrap;
                    
                    .nav-link {
                        margin: 10px 15px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .main-nav {
        .navbar-nav {
            .nav-item {
                .dropdown-menu {
                    position: static;
                    display: block;
                    background: transparent;
                    box-shadow: none;
                    padding: 5px 0 10px 0;
                    max-height: none;

                    .dropdown-item {
                        padding: 4px 0;
                    }
                }
            }
        }
    }
}
